<div id="bindings">
  
  <h3>Bindings</h3>

  <table id="data" class="sexy_table">
  	<caption>Bindings</caption>
  	<thead>
      <tr>
        <th>Queue</th>
        <th>Exchange</th>
        <th>From</th>
      </tr>
  	</thead>
  	<tbody>
      <% for ( var i = 0; i < bindings.length; i++ ) { %>
        <tr>
          <td><%= bindings[i].queue %></td>
          <td><%= bindings[i].exchange %></td>
          <td><%= bindings[i].from_queue %></td>
        </tr>
      <% } %>  	</tbody>
  </table>
  
  
</div>